<div class="progress-line">
    <div class=" node-sm travel-button" ng-click="edge.selectededge(edge.currentedge,['flight','bus','train'])">
        <i class="material-icons">
            {{edge.travelelement.modesToSelectTheServices.mode}}
        </i>
        <span class="tooltiptext">Select a mode to travel</span>
    </div>
    <div class="middle-bar">

    </div>
    <div  class="childServices" ng-repeat="(key,value) in edge.transitchildservices">
      <i class="material-icons node-stay" ng-click="edge.selectededge(edge.currentnode,[key])">{{value.icons}}</i>
    </div>

</div>
