
<span ng-click="node.show_autocomplete()">{{node.travelelement.essential.noDependencyData.location||'edit'}}</span>
<div class="node-md-action-input" id="node-md-main-action" ng-show="node.edit==true">
  <md-autocomplete flex required
  md-input-name="autocompleteField"
  md-input-minlength="2"
  md-input-maxlength="18"
  md-no-cache="node.noCache"
  md-selected-item="node.selectedItem"
  md-search-text="node.searchText"
  md-items="item in node.querySearch(node.searchText)"
  md-item-text="item.display"
  md-floating-label="City">
  <md-item-template>
    <span md-highlight-text="node.searchText">{{item.display}}</span>
  </md-item-template>
  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
    <div ng-message="required">You <b>must</b> have a favorite state.</div>
    <div ng-message="minlength">Your entry is not long enough.</div>
    <div ng-message="maxlength">Your entry is too long.</div>
  </div>
</md-autocomplete>
</div>
<div class="node" click-outside="node.closeThis(value)"
outside-if-not="nodeid,node-md-main-action">
<div class="node-md" ng-click="node.selectednode(node.currentnode, [])">
  {{node.travelelement.essential.noDependencyData.location|limitTo:3|uppercase}}
</div>
<div ng-repeat="(key,value) in node.locationchildservices">
  <i class="material-icons node-stay" ng-click="node.selectednode(node.currentnode,[key])">{{value.icons}}</i>
</div>
</div>